<ion-header>
    <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-toggle>
        <ion-button>
            <ion-icon slot="icon-only" name="menu"></ion-icon>
        </ion-button>
        </ion-menu-toggle>
    </ion-buttons>
    <ion-title>Editar Ingredeiente</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen class='ion-padding'>
    <ion-text class="ion-padding">
        <h1>Editar Ingrediente</h1>
    </ion-text>
    <div *ngIf="ingrediente">
        <form #f="ngForm" (ngSubmit)="onSubmit(f)">
            <ion-list>
                <ion-item>
                    <ion-label for="nome">Nome:</ion-label>
                    <ion-input type="text" id="nome" name="nome" 
                    [ngModel]="ingrediente?.nome" required>
                    </ion-input>
                </ion-item>
                <ion-item>
                    <ion-label for="regra">Regra de Conversão (g/ml): </ion-label>
                    <ion-input type="number" step="0.01" id="regra" name="regra" 
                    [ngModel]="ingrediente?.regra_conversao" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-avatar slot="start">
                        <img [src]="ingrediente?.img">
                    </ion-avatar>
                    <ion-label for="regra">Imagem: </ion-label>
                    <ion-button (click)="selectImage()">Escolha uma imagem</ion-button>
                </ion-item>
                <ion-button color='dark' type="submit" expand="block" fill="outline">
                    Salvar
                </ion-button> 
                <ion-button color='dark' (click)='delete(ingrediente?.id)' expand="block" fill="outline">
                    Excluir
                </ion-button> 
            </ion-list>
        </form>
    </div>
</ion-content>